
@{
    ViewBag.Title = "map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication2.Models.Org_viewModel

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script>
        var Aclist = @Html.Raw(Json.Encode(Model.Ac));
        var Fdlist = @Html.Raw(Json.Encode(Model.Fd));
        var Ptlist = @Html.Raw(Json.Encode(Model.Pt));
        var Dflist = @Html.Raw(Json.Encode(Model.Df));
        var Cllist = @Html.Raw(Json.Encode(Model.Cl));
        var ac_locations = [], fd_locations = [], pt_locations = [], df_locations =[], cl_locations = [];

    </script>
    <script src="~/Scripts/map/addMarkers.js"></script>
    <script src="~/Scripts/map/locating.js" type="text/javascript"></script>
    <script src="~/Scripts/map/init_orgList.js"></script>
    
</head>
<body>
    <h3>View All Services</h3>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <button id="locating_bt" type="button" class="btn btn-success">My Location</button>

            </div>

            <div class="col-sm-6">
                <select id="type_selector">
                    <option id="food" value="1">Food</option>
                    <option id="ac" value="2">Accommodation</option>
                    <option id="toilet" value="4">Public Toilet</option>
                    <option id="fountains" value="5">Drinking Fountains</option>
                    <option id="centerlink" value ="6">Center Link</option>
                    <option id="all" value="3">All</option>
                </select>

            </div>

        </div>
    </div>



    <script>
        document.getElementById("type_selector").onchange = function () {
            //console.log(this.value);
            //console.log(markers.length);
            /*console.log("ac" + ac_locations.length);
            console.log("fd" + fd_locations.length);*/
            markers = [];
            console.log("before" + markers.length);

            if (this.value == 1) {
                //console.log("food is clicked");
                addmarkers(fd_locations, map, infowindowM, markers);
            }

            else if (this.value == 2) {

                addmarkers(ac_locations, map, infowindowM, markers);


            }

            else if (this.value == 4) {
                console.log("toilet is cliked");

                addmarkers(pt_locations, map, infowindowM, markers);

            }

            else if (this.value == 5) {
                console.log("drinking fountain is cliked");
                console.log("drinkingfountain length:" + df_locations.length);
                addmarkers(df_locations, map, infowindowM, markers);
            }

            else if (this.value == 6) {
                console.log("center link is cliked");
                addmarkers(cl_locations, map, infowindowM, markers);
            }

            else if (this.value == 3) {
                addmarkers(ac_locations, map, infowindowM, markers);
                addmarkers(fd_locations, map, infowindowM, markers);
                addmarkers(pt_locations, map, infowindowM, markers);
                addmarkers(df_locations, map, infowindowM, markers);
                addmarkers(cl_locations, map, infowindowM, markers);


            }
            console.log("after" + markers.length);
            //clear markers in the cluster
            markerCluster.clearMarkers();
            //add new markers and redraw the clusters and markers
            markerCluster.addMarkers(markers, true);

        };
    </script>




    <div id="map"></div>

    <script src="~/Scripts/map/map.js" type="text/javascript"></script>

    @Html.Partial("~/Views/Map/ac_list.cshtml")

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4DVL2Q_bKb_TQtYmuFxs2AoZMxUEC0MI&callback=initMap">
    </script>
</body>
</html>